#member-header {
  text-align: center;
}

#name-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.width75 {
  width: 75%;
}

button {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  font-size: 20px;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}