.pink-border {
  border: 3px solid pink;
}

.no-margin {
  margin: 0px;
}

.left-margin {
  margin-left: 90px;
}

.right-margin {
  margin-right: 90px;
}

.top {
  margin-top: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/homepage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-blend-mode: darken;
  /* padding-top: 0px; */
  overflow: hidden;
}

.opacity {
  opacity: 0.75;
  color: white;
  font-size: 15px;
}

.link {
  color: blue
}
.flexbox-item-1 {
  padding: 10px;
  margin: 50px;
  font-size: 60px;
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* letter-spacing: 0.5cm; */
  text-align: center;
  color: white;
  max-width: 25ch;
}

.item-1-text {
  margin: 0px;
}

.flexbox-item-2 {
  padding: 10px;
  margin: 20px;
  font-size: 30px;
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-align: center;
  color: white;
  max-width: 25ch;
  opacity: 0.75; 
}

.item-2-text {
  margin: 0px;
}

.flexbox-item-3 {
  min-height: 47px;
  min-width: 200px;
  height: 47px;
  width: 400px;
  padding: 0px;
  margin-left: 100px;
  opacity: 0.8;
}

.flexbox-item-4 {
  min-height: 47px;
  min-width: 150px;
  height: 47px;
  width: 150px;
  padding: 0px;
  margin: 0px;
  opacity: 0.8;
}

.flexbox-item-6 {
  min-height: 47px;
  min-width: 150px;
  height: 47px;
  width: 250px;
  padding: 0px;
  margin: 0px;
  opacity: 0.8;
}

.flexbox-item-5 {
  margin: 50px;
}

.body-flexbox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: tan;
  overflow: hidden;
}

.body-child-1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%; 
  width: 1000px;
  background-color: wheat;
}

.about-header {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.body-image {
  background-image: url(../images/body-footer.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  height: 100vh;
}

.section-three-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: tan;
  overflow: auto;
  height: 100vh;
}

.section-three {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 1000px;
  background-color: wheat;
}

.three-h1 {
  text-align: center;
}

.section-four-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  background-color: wheat;
  overflow: auto;
}

.section-four {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.four-left-content {
  width: 23.5%;
  height: 100vh;
  flex: 1;
}

.four-right-content {

  background-image: url(../images/reference.d49b3c23.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 29%;
  flex: 1;
  height: 100vh;
}

.copyright-container {
  display: flex;
  justify-content: center;
  background-color: black;
  overflow: auto;
  height: 100%;
}

.copyright-block {
  display: flex;
}

.copyright {
  color: white;
}

.space {
  line-height: 40px;
  text-align: center;
}

/* autocomplete */
* { box-sizing: border-box; }
body {
  font: 16px Arial;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  position: relative;
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}